@import url('http://fonts.googleapis.com/css?family=Oswald:400,300,700');
@import url('http://fonts.googleapis.com/css?family=Oswald:400,300,700');

.navbar-top {
	background-color: aqua;
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.show {
	display: block !important;
}
.image {
	display: block;
	width: 100%;
	height: auto;
}
.content-img:hover {
	cursor: pointer;
	cursor: zoom-in;
}
.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #008cba;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
}
.container:hover .overlay {
	bottom: 0;
	height: 100%;
}
.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
.backgroundChange {
	background-color: #fff;
}
.modal-dialog {
	max-width: 865px !important;
}
.btn-outline-secondary:hover {
	background-color: rgb(37, 159, 163) !important;
}
